
@{
    Layout="~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="mt-5" style="margin-top: 200px;">
    <div class="">
        <div class="">
            <div class="row mb-0">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Dashboard</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="index.html">
                                <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Widgets -->
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 l-bg-green order-info-box7">
                    <div class="info-box7-block">
                        <h4 class="m-b-20">Revenue of Bookings</h4>
                        <h2 class="text-end"><i class="fas fa-plane float-start"></i><span>@ViewBag.totalSum $</span></h2>
                        <p class="m-b-0">Total Bookings <strong> @ViewBag.totalBookings </strong></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 l-bg-purple order-info-box7">
                    <div class="info-box7-block">
                        <h4 class="m-b-20">Total Travelers</h4>
                        <h2 class="text-end"><i class="fas fa-plane float-start"></i><span>@ViewBag.totalTravelers</span></h2>
                        <p class="m-b-0">Avg Travelers Per Booking : <strong> @ViewBag.avgTravelersPerBooking </strong></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 l-bg-orange order-info-box7">
                    <div class="info-box7-block">
                        <h4 class="m-b-20">Average Booking Value</h4>
                        <h2 class="text-end"><i class="fas fa-chart-line float-start"></i><span>@ViewBag.averageBookingValue</span></h2>
                        <p class="m-b-0">Bookings With Multiple Travelers <strong> @ViewBag.bookingsWithMultipleTravelers </strong></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>
